[Desktop Entry]
Encoding=UTF-8
Exec=/home/jay/.local/bin/docker-deb-start-0.0.4 debian-pull-gallery-9.5.3
Icon=/home/jay/.local/share/icons/down.png
Type=Application
Terminal=false
GenericName=Pull Gallery 9.5.3
Name=Pull Gallery 9.5.3
StartupNotify=false
Categories=Graphics
